.navbar {
  -webkit-box-flex: 0;
  box-flex: 0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  height: 54px;
  line-height: 54px;
}
.navbar a {
  display: block;
  text-align: center;
  height: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  color: #eee;
  text-decoration: none;
}
.navbar a.active {
  color: white;
}
.navbar,
.navbar.black {
  background-size: 1px 54px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABsCAIAAAFTGn/MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIxJREFUeNpiYAICS0tLpl+/foHx79+/mX7+BLF/MoDkGBgY0DEzAwMjQAAx2NnZoegB0T9//gSxcekDCCCGtLQ0Zi4uLqa/f/+C8Z8/f+Dsf//+YYhDxXCZhxX/B9H/GQACDKzH3d2d6evXr2Bz/v//D6aR2dhoXHL//oHk/mFTzwxkk+RGUjDUPzA+AFfkmbVAuC0WAAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
}
.navbar.white {
  border-top: 1px solid #e0dede;
  background-color: #f7f7f7;
  background: linear-gradient(#ffffff, #f7f6f5);
  background: -moz-linear-gradient(#ffffff, #f7f6f5);
  background: -webkit-linear-gradient(#ffffff, #cccccc);
}
.navbar.white a {
  color: black;
}
.navbar.white a.active {
  color: black;
  background-color: #999;
  background: linear-gradient(#999999, #ffffff);
  background: -moz-linear-gradient(#999999, #ffffff);
  background: -webkit-linear-gradient(#aaaaaa, #ffffff);
}
/* vim: set expandtab ts=4 sw=4 sts=4 tw=100: */
