.btn, .btn-primary, .btn-confirm{
    border-radius: 4px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    display: inline-block;
    padding: 0 15px;
}

.btn{
    padding: 0 15px;
    border: 1px;
    background: #f5f5f5;
    border: 1px #d7d7d7 solid;
}

.btn-circle{
    background: white;
    border-radius:50px;
    width:52px;
    height:52px;
    line-height:52px;
    text-align:center;
    margin:0 5px;
    color:#3b6058;
    border:1px solid #97b998;
    background-color:#e2f0da;
    padding: 0;
    &.active{
        border:3px solid #f6b396;	
    }
}
    
.btn-square{
    margin:0 18px;
    height:32px;
    line-height:32px;
    text-align:center;
    color:#262626;
    width:140px;
    border:1px solid #dfdcd1;
    font-size:16px;
    padding: 0;
    &.active{
        border-color:#f5682b;	
    }
    &.disable{
        color:#aaa;	
    }
}

.btn-primary, .btn-confirm{
  padding: 0 15px;
  color: #ffffff;
  border: 1px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #4a8be6;
  border-color: #4a8be6 #4a8be6 #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-cancel{
  padding: 0 15px;
  border: 1px;
  background: #f5f5f5;
  border: 1px #d7d7d7 solid;
}

