.btn, button{
    &.btn-circle, &.circle {
        display: inline-block;
	    border-radius:50px;
	    width:52px;
	    height:52px;
	    line-height:52px;
	    text-align:center;
	    margin:0 5px;
		color:#3b6058;
		border:1px solid #97b998;
		background-color:#e2f0da;
		&.active{
			border:3px solid #f6b396 !important;	
		}
    }

    &.btn-square, &.square {
        display: inline-block;
    	margin:0 18px;
	    height:32px;
	    line-height:32px;
	    text-align:center;
	    color:#262626;
		width:140px;
		border:1px solid #dfdcd1;
		font-size:16px;
    	&.active{
			border-color:#f5682b !important;	
		}
	    &.disable{
		    color:#aaa !important;	
	    }
    }
}

button.square{
    background: white;
}
