.grids{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        display: box;
        box-orient: vertical;
        .row{
                display: -webkit-box;
                display: box;
                -webkit-box-orient: horizontal;
                -webkit-box-flex: 1;
                box-orient: horizontal;
                box-flex: 1;
        }
        .grid{
                -webkit-box-flex: 1;
                box-flex: 1
        }
}
