// Box Model
.box-model(@orient){
    display: -webkit-box;
             -webkit-box-orient: @orient;
             -webkit-box-align: stretch;

//    display: -moz-box;
//             -moz-box-orient: @orient;
//             -moz-box-align: stretch;

    display: box;
             box-orient: @orient;
             box-align: stretch;
}

.box-flex( @value:0 ){
    -webkit-box-flex: @value;
    -moz-box-flex: @value;
    box-flex: @value;
}

.list{
    padding: 0;
    margin: 0;
    .box-flex(1);
    .item,li{
        .box-model(horizontal);
        span, div{
            .box-flex(0);
            &.main{
                .box-flex(1);
            }
        }
    }
}
