.page{
    height:100%;
    width:100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: stretch;
    display: box;
    box-orient: vertical;
    box-align: stretch;
}
/* vim: set expandtab ts=4 sw=4 sts=4 tw=100: */
