.table{
    border: 0;
    width: 100%;
    th{
        line-height: 20px;
        height: 20px;
    }
    td{
        line-height: 28px;
        height: 28px;
    }
    th, td{
        text-align:center;
        &:first-child{
            padding-left:20px;
            text-align: left;
        }
        &:last-child{
            padding-right:20px;
            text-align: right;
        } 
    }
}
