@import "mixins.less";

//
// iOS theme
// Visuals and interactions in the style of iOS
//
// --------------------------------------------------


// Variables
// --------------------------------------------------

@bar-black-background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABsCAIAAAFTGn/MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIxJREFUeNpiYAICS0tLpl+/foHx79+/mX7+BLF/MoDkGBgY0DEzAwMjQAAx2NnZoegB0T9//gSxcekDCCCGtLQ0Zi4uLqa/f/+C8Z8/f+Dsf//+YYhDxXCZhxX/B9H/GQACDKzH3d2d6evXr2Bz/v//D6aR2dhoXHL//oHk/mFTzwxkk+RGUjDUPzA+AFfkmbVAuC0WAAAAAElFTkSuQmCC);


.topbar, .bottombar{
    background-image: @bar-black-background-image; 
    background-repeat:repeat-x;
}

.topbar-white, .bottombar-white{
}
