.toolbar{
	.nav{
		background-color: @toolbar-background;
		border-bottom:1px solid #262626;
		overflow:hidden;
		color:#fff;
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-align: center;
		-webkit-box-pack: justify;
		padding:5px 12px;
		list-style:none;
		overflow:hidden;
		.nav-item{
			height:30px;
			line-height:30px;
			padding-bottom:2px;
			&.active{
				padding-bottom:0;
				border-bottom:2px solid #f5682b;	
			}
		}
	}

	.subtoolbar{
        background-color: @toolbar-subtoolbar-background;
        border-bottom: 1px solid #dadde1;
        box-shadow: 0 0 12px rgba(6,0,1,.5);
    }
}

