// Webapp 
// -------------------------

.webapp{

  html&, body {
    height:100%;
    overflow: hidden;
  }

  .page {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling:touch;
  }
    
}

