.button {
  border-radius: 50px;
  width: 52px;
  height: 52px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  float: left;
  margin: 0 5px;
}
.button.eyes {
  color: #3b6058;
  border: 1px solid #97b998;
  background-color: #e2f0da;
}
.button.sun {
  color: #262626;
  border: 1px solid #d9d6ca;
  background-color: #f6f6f6;
}
.button.paper {
  color: #754531;
  border: 1px solid #cabb9e;
  background-color: #f4eee1;
}
.button.night {
  color: #7e7f80;
  border: 1px solid #1c2021;
  background-color: #32373b;
}
.button.current {
  border: 3px solid #f6b396;
}
