.table {
  border: 0;
  width: 100%;
}
.table th {
  line-height: 20px;
  height: 20px;
}
.table td {
  line-height: 28px;
  height: 28px;
}
.table th,
.table td {
  text-align: center;
}
.table th:first-child,
.table td:first-child {
  padding-left: 20px;
  text-align: left;
}
.table th:last-child,
.table td:last-child {
  padding-right: 20px;
  text-align: right;
}
