.fontbutton {
  margin: 0 18px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #dfdcd1;
  color: #262626;
}
.fontbutton .separate {
  width: 1px;
  height: 100%;
  float: left;
  background-color: #dfdcd1;
}
.fontbutton .first {
  float: left;
  width: 140px;
  font-size: 12px;
  height: 100%;
}
.fontbutton .last {
  float: left;
  height: 100%;
  width: 140px;
  font-size: 14px;
}
