.fontbutton {
  margin: 0 18px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #262626;
}
.fontbutton .small {
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #dfdcd1;
  float: left;
  width: 140px;
  font-size: 14px;
  height: 100%;
  position: relative;
}
.fontbutton .small.active {
  border-color: #f5682b;
}
.fontbutton .small.active::after {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  content: "";
  background: #f5682b;
}
.fontbutton .small::after {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  content: "";
  background: #dfdcd1;
}
.fontbutton .big {
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #dfdcd1;
  float: left;
  height: 100%;
  width: 140px;
  font-size: 16px;
  position: relative;
}
.fontbutton .big.active {
  border-color: #f5682b;
}
.fontbutton .big.active::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  content: "";
  background: #f5682b;
}
.fontbutton .disable {
  color: #aaa;
}
