.list {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.list .item,
.list li {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
}
.list .item span,
.list li span,
.list .item div,
.list li div {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}
.list .item span.main,
.list li span.main,
.list .item div.main,
.list li div.main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
