.toolbar {
  background-color: #3a3a3a;
  overflow: hidden;
  color: #fff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  padding: 5px;
}
.toolbar .nav {
  list-style: none;
  overflow: hidden;
}
.toolbar .nav li {
  float: left;
  height: 30px;
  padding: 0 5px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.toolbar .nav li.active {
  border-bottom: 2px solid #f5682b;
}
