.toolbar .nav {
  background-color: #3a3a3a;
  border-bottom: 1px solid #262626;
  color: #fff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  padding: 5px;
  list-style: none;
  overflow: hidden;
}
.toolbar .nav .nav-item {
  height: 30px;
  padding: 0 5px;
  line-height: 30px;
}
.toolbar .nav .nav-item.active {
  border-bottom: 2px solid #f5682b;
}
